{% extends 'core/base.html'%}

{% block contenido %}

<div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
    <h2>Registro de usuarios</h2>
    <form class="container py-3" action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            {{ perfil.as_table }}
        </table> 
        <div class="py-4">
            <input class="btn btn-primary" type="reset" value="Limpiar">
            <input class="btn btn-success" type="submit" value="Registrar">
        </div> 
        
    </form>

</div>

{% endblock %}