{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<div class="pb-5 pt-3 container" style="margin-bottom: 100vh;">

    <h5 class="mb-4">Agregar Servicio</h5>

    <form method="POST">
        {% csrf_token %}
        <table>
                {{ form.as_table }}  
        </table>
    
        <input class="btn btn-success" type="reset" value="Limpiar">
        <input class="btn btn-success" type="submit" value="Guardar">
        <a class="btn btn-success" href="{% url 'mantenedor' %}">Visualizar Servicios</a>
       
    </form>
    
    {{ mensaje }}

</div>


{% endblock %}