{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
 <!---Sección Carrusel-->
 <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'core/img/7ac534_b5a97b365ece43eba1d02553ec576e76_mv2.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Recicla sin moverte de tu hogar</h2>
                <p>Somos una empresa que ofrece el servicio de retiro de residuos reciclables a tu domicilio</p>
                {% if user.is_authenticated %}
                  <a href="#" class="btn-get-started scrollto">Empecemos!</a>
                {% else %}
                  <a href="{% url 'registrar-usuario'%}" class="btn-get-started scrollto">Empecemos!</a>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'core/img/475508_800x600_crop_5cdb62cb69c3a.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Ya no tienes excusas para no reciclar!</h2>
                <p>Gracias a nuestro servicio no tendrás que moverte de tu hogar para asegurarte que los residuos
                  lleguen a un lugar en donde sean efectivamente reciclados</p>
                 {% if user.is_authenticated %}
                  <a href="#" class="btn-get-started scrollto">Empecemos!</a>
                {% else %}
                  <a href="{% url 'registrar-usuario'%}" class="btn-get-started scrollto">Empecemos!</a>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'core/img/Actualidad_338727027_97484678_1024x576.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Programa tu retiro</h2>
                <p> Ejecutamos el retiro de los residuos reciclables en tu domicilio según frecuencias programadas
                  cada 7, 14 o 28 días.</p>
                 {% if user.is_authenticated %}
                  <a href="#" class="btn-get-started scrollto">Empecemos!</a>
                {% else %}
                  <a href="{% url 'registrar-usuario'%}" class="btn-get-started scrollto">Empecemos!</a>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'core/img/materiais-848x450.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>¡Registrate ahora!</h2>
                <p>Llena nuestro formulario de inicio y nos comunicaremos contigo a la brevedad.</p>
                 {% if user.is_authenticated %}
                  <a href="#" class="btn-get-started scrollto">Empecemos!</a>
                {% else %}
                  <a href="{% url 'registrar-usuario'%}" class="btn-get-started scrollto">Empecemos!</a>
                {% endif %}
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->


    <!--Fin carrusel-->

    <!--Sección info -->
    <section>
      <div class="container shadow-lg" id="testimonioTitulo">
        <h2 class="font-weight-bold text-uppercase text-center pt-5 pb-3">
          Chile es el país que más genera basura América
        </h2>

        <p class="text-justify">
          El informe del Banco Mundial sobre cuánta basura genera cada país
          en el mundo determinó que Chile es el mayor de Sudamérica con 1,5
          Kg., por persona al día, seguido por Argentina (1,13 Kg.) y Brasil
          (1,04 Kg.), ambos países con mayor población que Chile.
        </p> 
        <div class="text-center" id="grafico1">
          <img class="img-fluid" src="{% static 'core/img/graficoBasuraPersona.png' %}"
            alt="Kilos de basura generada por persona en cada país" />
        </div>
        <p>
          <br>
          Greenpeace Chile alertó del aumento del nivel de basura generado por cada persona en Chile, que ronda los
          456 kilogramos, y que sitúa a este país como el que más residuos per cápita genera en la región.
        </p> 
        <p>
            “Hay una falta de políticas públicas de reciclaje y también un aumento del nivel adquisitivo de las personas
            que se suma a la falta de conciencia sobre la cantidad de basura que generamos”, dijo en declaraciones a Efe
            el director de Greenpeace Chile, Matías Asún.
        </p>
    <br />
      </div>
    </section>
    <!--Fin info-->

    <!--==========================
    Sección ¿Quienes somos?
  ============================-->
    <section id="about">
      <div class="container shadow-lg">

        <header class="section-header">
          <h3 class="pt-4"><center>¿Quienes somos?</center></h3>
          <p>En 2017, un grupo de amigos y profesionales nos unimos con el fin de aportar en la tarea de reciclar,
            facilitando a las personas cumplir con esta importante misión </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'core/img/girl_in_recycling_t.jpg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nosotros</a></h2>
              <p>
                Somos especialistas en reciclaje, facilitamos y aseguramos la entrega directa de residuos en empresas
                recuperadoras.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'core/img/Quienes-Somos.jpg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nuestra Misión</a></h2>
              <p>
                Promover el cambio de hábito en las personas y la sociedad, fomentando la gestión integrada de
                residuos sólidos, el reciclaje y su valorización.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'core/img/los_jovenes_reciclan.jpg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nuestra Visión</a></h2>
              <p>
                Tenemos la esperanza de un mundo mejor, haciendo del reciclaje una herramienta de transformación
                social, económica y ambiental, basados en los principios de la economía circular.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
   Sección más información
  ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>¿Necesitas más información sobre nuestros servicios?</h3>
        <p> Llena nuestro formulario de registro y cuéntanos tus dudas, te responderemos a la brevedad!.</p>
      
        {% if user.is_authenticated %}
          <a class="cta-btn" href="#">LLévame allá!</a>
        {% else %}
          <a class="cta-btn" href="{% url 'registrar-usuario' %}">LLévame allá!</a>
        {% endif %}
      </div>
    </section><!-- #call-to-action -->


    <!---Seccion testimonios-->
    <!--==========================
    Clients Section
  ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container shadow-lg">

          <h3 class="py-5 text-center">Testimonios</h3>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{% static 'core/img/5068f5bad017de9193e817e7cf222812.jpg' %}" class="testimonial-img" alt="">
            <h3>Viviana Fuenzalida</h3>
            <h4>Dueña de casa - Ñuñoa</h4>
            <p>
              <img src="{% static 'core/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              Gracias a ReciclandoFuturo, todos los integrantes de nuestra familia hemos formado el hábito del
              reciclaje de forma fácil y eficiente.
              <img src="{% static 'core/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'core/img/cfc1d8b69811d4bacb1377e39d5a74c9.jpg' %}" class="testimonial-img" alt="">
            <h3>Ismael Herrera</h3>
            <h4>Microempresario - Recoleta </h4>
            <p>
              <img src="{% static 'core/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              Este servicio me ha facilitado mucho la tarea de reciclar los residuos que generamos al interior de
              nuestra empresa. Realmente muy recomendable para otras pymes de Santiago
              <img src="{% static 'core/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'core/img/330fc136e32758577a568687e30309c4.jpg' %}" class="testimonial-img" alt="">
            <h3>Jorge Oviedo</h3>
            <h4>Administrador Edificio - Santiago Centro </h4>
            <p>
              <img src="{% static 'core/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              Gracias a ReciclandoFuturo toda la comunidad de nuestro edificio está comprometida con reciclar sus
              residuos. Ha sido de gran utilidad. Lo recomiendo a ojos cerrados.
              <img src="{% static 'core/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item pb-5">
            <img src="{% static 'core/img/1d6a0e33ac8dc7d63322628351574e0b.jpg' %}" class="testimonial-img" alt="">
            <h3>María José Fuentes</h3>
            <h4>Profesora - La Reina</h4>
            <p>
              <img src="{% static 'core/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              ReciclandoFuturo nos dio una charla educativa sobre medioambiente y reciclaje a nuestra comunidad
              educativa. Todos aprendimos mucho sobre cómo reciclar y los beneficios que trae a nuestro planeta.
              <img src="{% static 'core/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>
        </div>

      </div>
    </section><!-- #testimonials -->
    <!--Fin contenedor-->

{% endblock %}