{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

     <!--==========================
      Sección servicios
    ============================-->

    <section id="about">
        <div class="container">

            <header class="section-header">
                <h2><center>Servicios</h2></center> 
                <p><center>Servicios ReciclandoFuturo</center> </p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="{% static 'core/img/noticia-3-1.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <h2 class="title"><a href="#">Retiro de Reciclaje a Domicilio</a></h2>
                        <p>
                            Retiro programado de residuos reciclables a domicilio para casa particular, condominios
                            de casas/departamentos, comunidades de vecinos, empresas y oficinas; locales
                            comerciales; establecimientos educacionales.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="{% static 'core/img/new_50574.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <h2 class="title"><a href="#">Programa de Educación Ambiental y Reciclaje</a></h2>
                        <p>
                            Vamos a centros educacionales a dar charlas sobre cómo reciclar o reutilizar desechos.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="{% static 'core/img/Importancia-Educacion-Ambiental.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <h2 class="title"><a href="#">Manuales instructivos de reciclaje </a></h2>
                        <p>
                            Al contratar nuestro servicio te entregamos un manual para que tengas claro qué tipo de
                            residuos se pueden reciclar y cómo deben ser entregados a nuestros camiones recolectores
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #about -->

    
<!--==========================
  Sección Tarifas
============================-->
<section id="services">
    <div class="container">

      <header class="section-header wow fadeInUp">
        <h3><center>Tarifas</center></h3>
        
      </header>

      <hr style="border:15px;"><hr style="border:2px;">

      <div class="row">

        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title"><a href="">Servicio a Casas Particulares</a></h4>
          <p class="description">Retiro programado de residuos reciclables a domicilio para casa particular, condominios de casas/departamentos.</p>
          <hr style="border:15px;"><hr style="border:2px;">
          <h4 class="title"><a href=""><center>$5.990</center></a></h4>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
          <h4 class="title"><a href="">Servicio a Empresas</a></h4>
          <p class="description">Retiro programado de residuos reciclables a empresas.</p>
          <hr style="border:15px;"><hr style="border:2px;">

          <h4 class="title"><a href=""><center>$10.990</center></a></h4>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title"><a href="">Charlas en Centros Educacionales</a></h4>
          <p class="description">Para saber las tarifas de este servicio, contáctanos para realizar cotización</p>
        </div>
     
      </div>

    </div>
  
  </section><!-- #services -->


              <!-- #tarifas -->


{% endblock %}

